body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fef2e3;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.converter {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #a04d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

h1 {
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fdfdfd;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2d2c2d;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #434243;
}

#result {
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    color:antiquewhite;
    font-family:'Times New Roman', Times, serif;
}

